# pyenv
.python-version
# env vars
.env
# key files
auth/auth/jwt-key
auth/auth/jwt-key.pub
auth/auth/jwt-refresh-key
auth/auth/jwt-refresh-key.pub
api/api/jwt-key.pub
# mongodb persistent data
mongodb_data/